.admin-panel{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 680px) {
    /* Your CSS styles for screens with a maximum width of 450 pixels */
    .admin-panel{
        flex-wrap: wrap;
    }
  }